annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
arrow==1.4.0
attrs==25.4.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
fastapi==0.129.0
greenlet==3.3.2
h11==0.16.0
ics==0.7.2
idna==3.11
playwright==1.58.0
playwright-stealth==2.0.2
pydantic==2.12.5
pydantic_core==2.41.5
pyee==13.0.1
python-dateutil==2.9.0.post0
requests==2.32.5
six==1.17.0
SQLAlchemy==2.0.47
starlette==0.52.1
TatSu==5.8.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.41.0
